@use '../../App.scss';

.container {
  display: grid;
  min-width: 320px;
  grid-template-columns: repeat(4, 1fr);
}

// @include respond-to(desktop) {
//   grid-template-columns: repeat(12, 1fr);
//   background-color: red;
// }