// info: light theme

:root {
  --bg-color: #EEE8EC;
  --title-color: #0D2149;
  --text-color: #231A21;
}

// info: dark theme
.dark {
  --bg-color: #231A21;
  --title-color: #DDFFF7;
  --text-color: #EEE8EC;
}


body {
  color: var(--text-color);
  background-color: var(--bg-color); 

}
// #A07E94